<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showHeader()">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Stefacoin</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="usuario?.tipo === 1">
          <a class="nav-link active" aria-current="page" href="/listar-professor">Area do Professor</a>            
        </li>
        <li class="nav-item" *ngIf="usuario?.tipo === 1">
          <a class="nav-link active" aria-current="page" href="/listar-cursos">Cursos</a>            
        </li>
        <li class="nav-item" *ngIf="usuario?.tipo === 1">
          <a class="nav-link active" aria-current="page" href="/listar-alunos">Alunos</a>            
        </li>
        <li class="nav-item" *ngIf="usuario?.tipo === 2">
          <a class="nav-link" href="/listar-aluno">Area do Aluno</a>
        </li>
        <li class="nav-item" *ngIf="usuario?.tipo === 2">
          <a class="nav-link active" aria-current="page" href="/listar-cursos">Cursos</a>            
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn btn-danger" (click)="logout()">Deslogar</button>
        </li>
      </ul>
    </div>
  </div>
</nav> 

